.body {
    display: flex;
    flex-direction: row;
    width: 10%;
    height: 5%;
    /* flex-wrap: wrap;     */
    /* justify-content: column;
    align-items: column; */
    /* align-content: column; */
    /* align-content: center; */
}


/* .bodycntn {
    flex-direction: row;
    /* width: ; */

/* } */