.navbar {
    padding: 2%;
    display: flex;
    background-color: grey;
    height: 30em;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.ironhacklogo {
    margin: 1% ;
    width: 4em;
    height: 4em;    
}

.sidelogo {
    margin: 1%;
    width: 1.5em;
    height: 1.5em;
    justify-content: right;
    align-items: right;
}

h1,
p {
    width: 14%;
}

Button {
    width: 10%;
    height: 10%;
}